<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
					<li class="list-inline-item">
						© <span id="copyright-year" ></span> <a href="https://shadowbyte.dev/" class="link-secondary">Shadow Byte</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://shadowbyte.dev/tos" class="link-secondary">Terms of Service</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://shadowbyte.dev/privacy-policy" class="link-secondary">Privacy Policy</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var currentYear = new Date().getFullYear();
			var copyrightElement = document.getElementById("copyright-year");
			if (copyrightElement) {
				copyrightElement.textContent = currentYear;
			}
		});
	</script>
</footer>


